torch==2.8.0
torchvision
torchaudio
transformers>=4.41.2
accelerate>=0.29.0
diffusers>=0.30.0
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic>=2.6.0
protobuf>=7.34.0,<8.0.0
grpcio>=1.62.0
sentiric-contracts-py @ git+https://github.com/sentiric/sentiric-contracts.git@v1.25.0
structlog==24.4.0
boto3>=1.34.0
aio-pika>=9.4.0
imageio[ffmpeg]
sentencepiece